#login-response{
    position: absolute;
    background: #c1130080;
    top: 0;
    font-size: 15px;
    padding: 10px 20px;
    width: 100%;
    display: none;
    left: 0;
    color: #fff;
    font-weight: bold;
}
